@font-face {
  font-family: 'Barlow Condensed';
  src: url(/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Bellefair Regular';
  src: url(/fonts/Bellefair-Regular/Bellefair-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.content{
  margin-top: 20px;
  /* padding: 0 50%; */

  .main-title{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 2.5px;
    color: #d0d6f9;
  }
  
  .main-subtitle{
    margin: 16px 0;
    font-family: 'Bellefair Regular';
    font-size: 80px;
    line-height: 100px;
    color: rgb(255, 255, 255);
  }
  
  .description{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f9;
  }
}

.col-explore{
  margin-top: 81px;

  .explore-logo{
    width: 150px;
    height: 150px;
    font-size: 24.3px;
    animation: beats 1s ease-out infinite;
    box-shadow: 0 0 0 8rem hsla(0,0%,100%,.3);
    letter-spacing: .1rem;
    background-color: #FFFFFD;
    cursor: pointer;
  
    .explore{
      font-family: 'Bellefair Regular';
      font-weight: normal;
      font-size: 20px;
      color: #000;
    }
  }
}

@keyframes beats {
  from {box-shadow: 0 0 0 0 hsla(0,0%,100%,.3);}
  to {box-shadow: 0 0 0 8rem hsla(0,0%,100%,0);}
}

@include x-large{
  .content{
    height: 24.3rem;
    position: absolute;
    bottom: 13vh;
        
    .contenido{
      height: 100%;
      display: flex;
      justify-content: space-around;
      /* align-content: flex-end; */

      .main-title{
        font-size: 1.75rem;
        text-align: start;
        width: 28.4rem;
      }
  
      .main-subtitle{
        margin-top: 75px;
        margin-bottom: 58px;
        width: 28.4rem;
        font-size: 9.38rem;
        text-align: start;
      }
  
      .description{
        width: 28.4rem;
        font-size: 18px;
        text-align: start;
        line-height: 32px;
      }
    }
  }

  .col-explore{
    margin-top: 120px;

    .explore-logo{
      width: 17.1rem;
      height: 17.1rem;
    }

  }
}