// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
/*   body{
    background-repeat: round;
  } */
  #logo{
    width: 40px;
    height: 40px;
  }

  #icon-hamburger{
    width: 31px;
    height: 28px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  /* body{
    background-image: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  } */
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }