@font-face {
  font-family: 'Barlow Condensed';
  src: url(/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.navbar{  
  position: absolute;
  z-index: 3;
  width: 100%;

  #logo{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }

  #hamburger-icon{
    position: absolute;
    top: 2rem;
    right: 1.5rem;
  }

  .offcanvas{
    width: 67vw;
    
    .nav-link{
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 1rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #FFF;
      cursor: pointer;
    }
  }
}

@include x-large{
  .navbar{
    #logo{
      top: 4.2rem;
      left: 3.5rem;
    }
  }

  .offcanvas{
    .offcanvas-body{
      position: absolute;
      top: 2.5rem;
      right: 0;
      width: 53.5vw;
      height: 6rem;
      background-color: rgba(255, 255, 255, .35);

      .navbar-nav{
        width: 100vw;
        justify-content: space-evenly;
        
        .nav-item{
          margin-top: auto;
          margin-bottom: auto;

          .nav-link{
            font-weight: normal;
            letter-spacing: 3px;
            line-height: 75px;
            cursor: pointer;         
          }
        }
      }
    }
    .nav-link:hover{
      border-bottom: 3px solid #979797;
    }
    
    .nav-link:focus{
      border-bottom: 3px solid #FFF;
    }
  }
}