@import "media-queries";
@import "navbar";
@import "home";
@import "destination";

html{
  font-size: 16px;  
  line-height: 1.15;
}

body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box; 
}

/* 
  Depurar elementos CSS fantasmas que causan desplazamientos no deseados
*/
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */